@import "tailwindcss"; 

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Prata&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
}

@theme{
    --color-primary: #5044E5;
}

.reset-tw , .reset-tw *{
    all: revert !important;
}

.cl-drawerRoot{
    z-index: 10;
}